#banner_image{
	padding-top : 75px ;
	padding-bottom : 50px ;
	text-align : center ;
	color : #f8f8f8 ;
	background : url(CaseStudy_index_mainPic.jpeg)no-repeat center center ;
	background-size : cover ;
}

#banner_content{
	position : relative ;
	padding-top : 6% ;
	padding-bottom : 6% ;
	margin-top : 12% ;
	margin-bottom : 12% ;
	background-color : rgba(0,0,0,0.7);
	/*max-width : 660px ;*/
}

.header{
	background-color : #000 ;
	color : #fff ;
	border-color : #080808 ;
	min-height : 50px ;
	border : 1px solid transparent ;
}

.content{
	min-height : 751px ;
}

.footer{
	background-color : #000 ;
	color : #fff ;
	font-size : 14px ;
	text-align : bottom ;
}

.row-style{
	margin-top : 10px ;
}

.loginheader{
	text-align : center ;
	font-size : 20px ;
}